In [1]:
import psycopg2
import pandas as pd

In [2]:
def create_database():
    # connect to default database
    # conn = psycopg2.connect("host=127.0.0.1 dbname=studentdb user=student password=student")
    conn = psycopg2.connect("host=127.0.0.1 dbname=postgres user=postgres password=Saylor!")
    conn.set_session(autocommit=True)
    cur = conn.cursor()
    
    # create sparkify database with UTF8 encoding
    cur.execute("DROP DATABASE accounts")
    cur.execute("CREATE DATABASE accounts")
    
    # close connection to default database
    conn.close()

    # connect to sparkify database
    conn = psycopg2.connect("host=127.0.0.1 dbname=accounts user=postgres password=Saylor!")
    cur = conn.cursor()
    
    return conn, cur

In [3]:
def drop_tables(cur, conn):
    for query in drop_table_queries:
        cur.execute(query)
        conn.commit()

In [4]:
def create_table(cur, conn):
    for query in create_table_queries:
        cur.execute(query)
        conn.commit()

In [5]:
pres_birth_csv = pd.read_csv("US-Presidents-Birth.csv")

In [6]:
pres_birth_csv.head()

   ID          President        Born        Died                 Age
0   1  George Washington   2/22/1840   9/27/1904  67 years, 295 days
1   2         John Adams  10/30/1840   9/30/1904  90 years, 247 days
2   3   Thomas Jefferson   4/13/1840   10/8/1904   83 years, 82 days
3   4      James Madison   3/16/1840  10/16/1904  85 years, 104 days
4   5       James Monroe   4/28/1840  10/23/1904   73 years, 67 days

In [7]:
pres_personal_csv = pd.read_csv("US-Presidents-Personal.csv")

In [8]:
pres_personal_csv.head()

,ID,President,Number of kids,Number of marriages,State,Education,Degree
0,1,George Washington,0,1,Virginia,No formal education,NaN
1,2,John Adams,5,1,Massachusetts,Harvard College (graduated in 1755),A.B.
2,3,Thomas Jefferson,6,1,Virginia,The College of William & Mary (graduated in 1762),B.A.
3,4,James Madison,0,1,Virginia,The College of New Jersey (now Princeton Unive...,B.A.
4,5,James Monroe,3,1,Virginia,The College of William & Mary (did not graduate),NaN

In [9]:
pres_presidency_csv = pd.read_csv("US-Presidents-Presidency.csv")

In [10]:
pres_presidency_csv.head()

,ID,President,start of presidency,end of presidency,Net worth(millions),Political party,Years in office
0,1,George Washington,"57 years, 67 days","65 years, 10 days",707,None/Independent,1789–1797
1,2,John Adams,"61 years, 125 days","65 years, 125 days",25,Federalist,1797–1801
2,3,Thomas Jefferson,"57 years, 325 days","65 years, 325 days",284,Democratic-Republican,1801–1809
3,4,James Madison,"57 years, 353 days","65 years, 353 days",136,Democratic-Republican,1809–1817
4,5,James Monroe,"58 years, 310 days","66 years, 310 days",36,Democratic-Republican,1817–1825

In [11]:
conn, cur = create_database()

In [12]:
create_table_query1 = ("""
CREATE TABLE IF NOT EXISTS pres_birth (
    ID INT PRIMARY KEY,
    President VARCHAR,
    Born VARCHAR,
    Died VARCHAR,
    Age VARCHAR
    )
    """)

In [13]:
cur.execute(create_table_query1)
conn.commit()

In [14]:
create_table_query2 = ("""
CREATE TABLE IF NOT EXISTS pres_personal (
    ID INT PRIMARY KEY,
    President VARCHAR,
    Number_of_kids INT,
    Number_of_marriages INT,
    State VARCHAR,
    Education VARCHAR(255),
    Degree VARCHAR
    )
    """)

In [15]:
cur.execute(create_table_query2)
conn.commit()

In [16]:
create_table_query3 = ("""
CREATE TABLE IF NOT EXISTS pres_presidency (
    ID INT PRIMARY KEY,
    President VARCHAR,
    start_of_presidency VARCHAR,
    end_of_presidency VARCHAR,
    Net_worth VARCHAR,
    Politcal_party VARCHAR,
    Years_in_office VARCHAR
    )
    """)

In [17]:
cur.execute(create_table_query3)
conn.commit()

In [18]:
pres_birth_insert = ("""
INSERT INTO pres_birth(
    ID,
    President,
    Born,
    Died,
    Age)
    VALUES (%s, %s, %s, %s, %s)
    """)

In [19]:
for i, row in pres_birth_csv.iterrows():
    cur.execute(pres_birth_insert, list(row))

In [20]:
conn.commit()

In [21]:
pres_personal_insert = ("""
INSERT INTO pres_personal(
    ID,
    President,
    Number_of_kids,
    Number_of_marriages,
    State,
    Education,
    Degree)
    VALUES (%s, %s, %s, %s, %s, %s, %s)
    """)

In [22]:
for i, row in pres_personal_csv.iterrows():
    cur.execute(pres_personal_insert, list(row))

In [23]:
conn.commit()

In [24]:
pres_presidency_insert = ("""
INSERT INTO pres_presidency(
    ID,
    President,
    start_of_presidency,
    end_of_presidency,
    Net_worth,
    Politcal_party,
    Years_in_office
    )
    VALUES (%s, %s, %s, %s, %s, %s, %s)
    """)

In [25]:
for i, row in pres_presidency_csv.iterrows():
    cur.execute(pres_presidency_insert, list(row))

In [26]:
conn.commit()